{% extends 'base.html' %}
{% block content %}
<h2 class="section__title-skills">My Skills</h2>
<section class="my-skills">
   
    <div class="section__subtitle-skills">
        <p class="section__subtitle-skillType">Technical Skills</p>
        <ul class="skils-info">
            <li class="skills-info-list">HTML/CSS</li>
            <li class="skills-info-list">Javascript</li>
            <li class="skills-info-list">React</li>
            <li class="skills-info-list">Django</li>
            <li class="skills-info-list">C++</li>
        <ul>
    </div>


    <div class="section__subtitle-skills">
        <p class="section__subtitle-skillType">Soft Skills</p>
        <ul class="skils-info">
            <li class="skills-info-list">Communication</li>
            <li class="skills-info-list">Creative</li>
            <li class="skills-info-list">Team Work</li>
            <li class="skills-info-list">Leadership</li>
            <li class="skills-info-list">Ambitious</li>
        <ul>
        
    </div>
</section>





{% endblock %}
