{% extends 'base.html' %}
{% block content %} 
<h2 style="text-align: center;">Here is the list of few projects which i have done till now</h2>
<div class="row">
<div class="column">
<div class="card">
      <h3><b>Secure Feedback System</b></h3> 
    <h4>Organization : Kalindi College , University Of Delhi</h4>
    </div>
</div>

    <div class="column">
<div class="card">
   
      <h3><b>Automated Result Analysis System</b></h3> 
    <h4>Organization : Kalindi College , University Of Delhi</h4>
    </div>
</div>
<div class="column">
<div class="card">
    
      <h3><b>It Service  Portal</b></h3> 
    <h4>Organization : IGDTUW</h4>
    </div>
</div>

</div>





<div class="row">
    <div class="column">
    <div class="card">
          <h3><b>Secure Feedback System</b></h3> 
        <h4>Organization : Kalindi College , University Of Delhi</h4>
        </div>
    </div>
    
        <div class="column">
    <div class="card">
       
          <h3><b>Automated Result Analysis System</b></h3> 
        <h4>Organization : Kalindi College , University Of Delhi</h4>
        </div>
    </div>
    <div class="column">
    <div class="card">
        
          <h3><b>It Service  Portal</b></h3> 
        <h4>Organization : IGDTUW</h4>
        </div>
    </div>
    
    
    </div>

    <div class="row">
        <div class="column">
        <div class="card">
              <h3><b>Secure Feedback System</b></h3> 
            <h4>Organization : Kalindi College , University Of Delhi</h4>
            </div>
        </div>
        
            <div class="column">
        <div class="card">
           
              <h3><b>Automated Result Analysis System</b></h3> 
            <h4>Organization : Kalindi College , University Of Delhi</h4>
            </div>
        </div>
        <div class="column">
        <div class="card">
            
              <h3><b>It Service  Portal</b></h3> 
            <h4>Organization : IGDTUW</h4>
            </div>
        </div>
        
        
        </div>
    {% endblock %}
    