{% extends 'base.html' %}

{% block content %}
<h2 style="text-align: center;">Here is the list of my skills till now</h2>
<div class="container">
<img src="{{ url_for('static', filename='image/girl4.png') }}"  Align="right">
<div class="progressbar">
    <div style="color: white; text-align: center;"> C++</div>
    
  </div>
  <div class="progressbar">
  <div style="color: white; text-align: center;"> Python </div>
</div>
  <div class="progressbar">
  <div style="color: white; text-align: center;"> Django </div>
</div >
  <div class="progressbar">
  <div style="color: white; text-align: center;"> HTML </div>
</div>
  <div class="progressbar">
  <div style="color: white; text-align: center;"> CSS </div>
</div>
  <div class="progressbar">
  <div style="color: white; text-align: center;"> Bootstrap </div>
</div>
</div>

{% endblock %}