@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    background-image: url("https://images.unsplash.com/photo-1513077202514-c511b41bd4c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
    background-size: cover;
    color: rgb(10, 9, 12);
    font-size: 1.5rem;
}
div.header{
    text-align: center;
}
div.list-gen{
    margin: 0;
}
div.list{
    width: 100%;
    border: none;
    background-color: rgb(185, 148, 148);
}
div.list-2{
    width: 100%;
    border: none;
    background-color: rgb(150, 82, 82);
}
div.list-contener{
    margin: 20px;
}
input[type='text'].style1{
    padding: 2rem 2rem 2rem 2rem;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    border: none;
    background-color: rgb(168, 161, 187);
    color: white;
}
button.style1{
    padding: 2rem 2rem 2rem 2rem;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    border: none;
    background-color: rgb(54, 75, 95);
    color: white;
}
button.cancel{
    border: none;
    border-radius: 2rem;
    background-color: rgba(255, 0, 0, 0.774);
    color: white;
    font-family: 'Nunito', sans-serif;
    margin: 5px;
}
button{
    outline: none;
}
input{
    outline: none;
}
